#root{
    z-index: 6;
    height: 100vh;
    width: 100vw;
}

body.comments-active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.comments-modal {
    z-index: 6;
    cursor: default!important;
}

.comments-overlay {
    background: #313131cc !important;
    height: 100vh;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    pointer-events: auto;
    cursor: default!important;
    z-index: 6;
}

.comments-modal-content {
    background: #000;
    max-height: 70%;
    border-radius: 3px;
    line-height: 1.4;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 3% 4%;
    position: fixed;
    white-space: nowrap;
    z-index: 7;
    left: 50%;
    top: 40%;
    min-height: 20vh;
    min-width: 50%;
    max-width: 80%;
    transform: translate(-50%, -50%);
    cursor: default!important;
}

.comments-modal-content > h1 {
    font-size: 20px;
    font-weight: bold;    
    border-bottom: 1px solid lightgrey;
    margin-bottom: 5px;
    color: white;
    cursor: default!important;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
    color: white;
    border: none;
    cursor: pointer;
}

.comments-modal-footer{
    display: flex;
    padding-top: 1vh;
    cursor: default!important;
}

.comment-input {
    flex: 1;
    margin-right: 10px;
    color: white;
    background-color: rgba(128, 128, 128, 0.516);
    cursor: default!important;
  }

.send-icon{
    outline: none;
    background-color: transparent;
    cursor: pointer!important;
}